/* ************** */
/* HEADER STYLING */
/* ************** */
.header {
  padding: 0 3.2rem;
  /* height defined to make header sticky later */
  height: 9.6rem;
  background-color: #fdf2e9;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 2.2rem;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.nav-link:hover,
.nav-link:active {
  color: #cf711f;
}

/* ************ */
/* HERO STYLING */
/* ************ */
.hero {
  /* padding: 4.8rem 12.8rem; */
  width: 130rem;
  margin: 0 auto;

  display: grid;
  gap: 9.6rem;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  padding: 0 3.2rem;
}
.section-hero {
  background-color: #fdf2e9;
  padding: 9.6rem 0;
}
.hero-text-box {
  /* padding: 4.8rem; */
}
.hero-text {
  font-size: 2rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.hero-buttons {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 6.2rem;
}
.btn--more-info:link,
.btn--more-info:visited {
  background-color: #fff;
  padding: 1.2rem 1.6rem;
}
.btn--more-info:hover,
.btn--more-info:active {
  background-color: transparent;
  box-shadow: inset 0 0 0 3px #fff;
  /* box-shadow: vert, horiz, blur, spread, color; */
}
.meals-delivered {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.meals-people {
}
.meals-people-img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: 3px solid #fdf2e9;
  margin-right: -1.6rem;
}
.meals-people-img:last-child {
  margin-right: 0;
}
.meals-delivered-text {
  font-size: 1.8rem;
  font-weight: 700;
}
.meals-number {
  color: #cf711f;
}
.hero-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-img {
  display: block;
  width: 100%;
}

/* ******************** */
/* HOW IT WORKS STYLING */
/* ******************** */
.section-how {
  padding: 9.6rem 0;
}
.steps {
}
.step-text-box {
  display: grid;
  align-content: center;
}
.step-number {
  font-size: 9.8rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #444;
}
.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
.step-img-box:before,
.step-img-box:after {
  content: '';
  display: block;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step-img-box:before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;

  z-index: -2;
}
.step-img-box:after {
  width: 50%;
  padding-bottom: 50%;
  background-color: #fae5d3;

  z-index: -1;
}
/* :before doesn't work on images because
html doesn't allow imgs to have children */
.step-img {
  max-width: 35%;
  display: block;
}
.step-text-box:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
}
.step-img-box:nth-child(4) {
  grid-column: 1;
  grid-row: 2;
}
/* Font Sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */
/* Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
