/* ************** */
/* HEADER STYLING */
/* ************** */
.header {
  padding: 0 3.2rem;
  /* height defined to make header sticky later */
  height: 9.6rem;
  background-color: #fdf2e9;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 2.2rem;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.nav-link:hover,
.nav-link:active {
  color: #cf711f;
}

/* ************ */
/* HERO STYLING */
/* ************ */
.hero {
  /* padding: 4.8rem 12.8rem; */
  width: 130rem;
  margin: 0 auto;

  display: grid;
  gap: 9.6rem;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  padding: 0 3.2rem;
}
.section-hero {
  background-color: #fdf2e9;
  padding: 9.6rem 0;
}
.hero-text-box {
  /* padding: 4.8rem; */
}
.hero-text {
  font-size: 2rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.hero-buttons {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 6.2rem;
}
.btn--more-info:link,
.btn--more-info:visited {
  background-color: #fff;
  padding: 1.2rem 1.6rem;
}
.btn--more-info:hover,
.btn--more-info:active {
  background-color: transparent;
  box-shadow: inset 0 0 0 3px #fff;
  /* box-shadow: vert, horiz, blur, spread, color; */
}
.meals-delivered {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.meals-people {
}
.meals-people-img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: 3px solid #fdf2e9;
  margin-right: -1.6rem;
}
.meals-people-img:last-child {
  margin-right: 0;
}
.meals-delivered-text {
  font-size: 1.8rem;
  font-weight: 700;
}
.meals-number {
  color: #cf711f;
}
.hero-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-img {
  display: block;
  width: 100%;
}
/* ******************* */
/* FEATURED IN STYLING */
/* ******************* */
.section-featured-in {
  padding: 4.8rem 0;
}
.featured-heading {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.75px;
  font-weight: 500;
  color: #666;
  text-align: center;
  margin-bottom: 2.4rem;
}
.featured-logos {
  display: flex;
  justify-content: space-around;
}
.featured-logo {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 55%;
}

/* ******************** */
/* HOW IT WORKS STYLING */
/* ******************** */
.section-how {
  padding: 9.6rem 0;
}
.steps {
}
.step-text-box {
  display: grid;
  align-content: center;
}
.step-number {
  font-size: 9.8rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #444;
}
.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
.step-img-box:before,
.step-img-box:after {
  content: '';
  display: block;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step-img-box:before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;

  z-index: -2;
}
.step-img-box:after {
  width: 50%;
  padding-bottom: 50%;
  background-color: #fae5d3;

  z-index: -1;
}
/* :before doesn't work on images because
html doesn't allow imgs to have children */
.step-img {
  max-width: 35%;
  display: block;
}
.step-text-box:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
}
.step-img-box:nth-child(4) {
  grid-column: 1;
  grid-row: 2;
}

/* ************* */
/* MEALS STYLING */
/* ************* */
.section-meals {
  padding: 9.6rem 0;
}
.meals-card {
  border-radius: 11px;
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}
.meal {
  transition: all 300ms;
}
.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.05);
}
.meal-img {
  width: 100%;
}
.meal-text {
  padding: 4.8rem;
  padding-top: 3.2rem;
}
.meal-tag {
  display: inline-block;

  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  padding: 0.4rem 0.8rem;
  border-radius: 150px;
  color: #333;
}
.meal-tag:not(:last-of-type) {
  margin-right: 0.4rem;
}
.tag-vegetarian {
  background-color: #51cc66;
}
.tag-vegan {
  background-color: #40c057;
}
.tag-spicy {
  background-color: #c92a2a;
  color: #fff;
}
.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.meal-facts {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.meal-fact {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.meal-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #e67e22;
}
.calories {
  font-weight: 500;
}
.diets {
  padding: 1.8rem;
}
.diets-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.diet-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.diet-list-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.8rem;
}
.diet-list-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #e67e22;
}
.more-recipes {
  text-align: center;
  font-size: 1.8rem;
}
.link:link,
.link:visited {
}
.link:hover,
.link:active {
}

/* ****************************** */
/* TESTIMONIALS & GALLERY STYLING */
/* ****************************** */
.section-testimonials {
  padding: 9.6rem 0;
  background-color: #fae5d3;

  display: grid;
  grid-template-columns: 3fr 2fr;
}
.testimonials {
  padding: 5.2rem;
}
.testimonials-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 6.4rem;
  margin-left: 3.2rem;
  margin-right: 3.2rem;
}
.testimonial {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.testimonial-img {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
}
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
}
.testimonial-author {
  font-size: 1.6rem;
  color: #777;
}
.gallery {
  padding: 1.6rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}
.gallery-img-box {
  overflow: hidden;
}
.gallery-img {
  /* width: 12.8rem;
  height: 12.8rem; */
  width: 100%;
  display: block;
  transition: all 300ms;
}
.gallery-img:hover {
  transform: scale(1.2);
}

/* *************************** */
/* PRICING AND FEATURE STYLING */
/* *************************** */
.section-pricing {
  padding: 9.6rem 0;
}
.pricing-plans {
}
.pricing-plan {
  width: 75%;
  padding: 4.6rem;
  border-radius: 11px;
  border: 2px solid #fae5d3;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.075);
}
.plan-header {
  text-align: center;
}
.plan--starter {
  justify-self: end;
}
.plan--complete {
  background-color: #fae5d3;

  position: relative;
  overflow: hidden;
}
.plan--complete::after {
  content: 'Best Value';
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #ffd43b;
  padding: 0.2rem 6rem;

  position: absolute;
  top: 3.6rem;
  right: -7rem;
  transform: rotate(45deg);
}
.plan-title {
  font-size: 2rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
  letter-spacing: 1px;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}
.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.5rem;
}
.plan-text {
  font-size: 1.6rem;
  color: #6f6f6f;
  margin-bottom: 6.4rem;
}
.plan-details {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 4.8rem;
}
.plan-detail {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.pricing-list-item {
  width: 2.4rem;
  height: 2.4rem;
  color: #e67e22;
}
.pricing-button {
  display: flex;
  justify-content: center;
}
.plan-taxes {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.features {
  border: 3px solid #fae5d3;
  border-radius: 11px;
  padding: 4rem 2rem;
}
.feature {
}
.feature-icon-box {
  margin-bottom: 3.2rem;
}
.feature-icon {
  width: 3.2rem;
  height: 3.2rem;
  color: #e67e22;
  background-color: #fdf2e9;
  padding: 1.6rem;
  border-radius: 50%;
}
.feature-heading {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.6rem;
  line-height: 1.8;
}

/* *************************** */
/* PRICING AND FEATURE STYLING */
/* *************************** */
.section-cta {
  padding: 9.6rem 0;
}
.cta {
  background-image: linear-gradient(to right, #eb984e, #e67e22);
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);

  overflow: hidden;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.cta .heading-secondary {
  color: #45260a;
  margin-bottom: 3.2rem;
}
.cta-text-box {
  color: #45260a;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2.4rem;
  column-gap: 3.2rem;
}
.cta-form label {
  display: block;

  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  font-family: inherit;
  font-size: 1.8rem;
  color: inherit;
  background-color: #fdf2e9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 1.2rem;
  width: 100%;
  border-radius: 9px;
  border: none;
}
.cta-form input::placeholder {
  opacity: 0.5;
}
.cta *:focus {
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}
.btn--form {
  /* font-size: 1.8rem; */
  background-color: #45260a;
  color: #fdf2e9;
  padding: 1.2rem;

  align-self: end;
}
.btn--form:hover {
  background-color: #fff;
  color: #555;
}
.form-img-box {
  overflow: hidden;
}
.form-img {
  width: 100%;
  transform: scale(1.35);
  filter: opacity(75%);
}
/* Font Sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */
/* Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
