* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

/* Page Section */
body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #1098ad;
}

.container {
  width: 800px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px;
  margin-bottom: 60px;
  /* height: 80px; */
  /* usually don't set fixed height to elements because of overflow issues */
}

nav {
  font-size: 18px;
}

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
  width: 500px;
}

/* Smaller Elements */
h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: capitalize; /* Capitalizes The First Letter Of Each Word*/
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5; /* No unit. Here it means 1.5 times the font size */
  margin-bottom: 15px;
  /* display: inline; */
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

/* article header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related-post {
  list-style: none;
}

li:first-child {
  font-weight: bold;
}

/* Practice selecting stuff using pseudo classes
li:last-child {
  font-style: italic;
}

li:nth-child(2) {
  color: red;
}

li:nth-child(odd) {
  text-decoration: underline;
} */

/* article p:first-child {
  color: red;
  Doesn't work because the first child of ARTICLE is not P, it is HEADER
}
article p:first-of-type{
  This, however, works because we target the type
  color: red;
} */

/* Hyperlink Styling: LVHA */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
}

a:active {
  background-color: black;
  font-style: italic;
}

a {
  /* A pseudo selector gives additional priority */
  color: red;
}

/* Resolving CSS conflicts */
#copyright {
  /* this should apply, but we use !important somewhere else */
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  /* cheat code: avoid using */
  color: green !important;
  text-align: center;
}

.post-img {
  /* percentages apply to the size of the parent container */
  width: 100%;
  height: auto;
}

nav a:link {
  /* background-color: orangered;
  margin: 20px;
  padding: 20px;
  display: block; */
  margin-right: 30px;
  display: inline-block;
  margin-top: 10px; /* Dones't work if display: inline (default) */
}

nav a:link:last-child {
  margin-right: 0;
}
