* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

/* ARTICLE STYLING */
.product {
  width: 825px;
  border: 4px solid #000;
  margin: 20px auto;
  position: relative;
}

/* PSEUDO ELEMENT: SALE BANNER */
.product-title::after {
  content: 'sale';
  text-transform: uppercase;
  font-size: medium;
  background-color: #ec2f2f;
  color: #fff;
  letter-spacing: 5px;
  padding: 6px 12px;
  position: absolute;
  top: -20px;
  left: -45px;
}
/* PRODUCT NAME */
.product-title {
  font-size: 22px;
  padding: 12px;
  background-color: #f7f7f7f7;
  text-align: center;
}
/* IMAGE STYLING */
.product-img {
  width: 250px;
  display: block;
}
/* GRID LAYOUT */
.product {
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  grid-template-rows: 1fr 250px 1fr;
  column-gap: 25px;
}
.product-title {
  grid-column: 1 / -1;
}
.btn-add-cart {
  grid-column: 1 / -1;
}
/* PRODUCT INFO STYLING */
.product-info {
  padding: 20px 10px;
}
/* PRICE AND SHIPPING */
.mid-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}
.price {
  font-size: larger;
}
.shipping {
  font-size: small;
  color: #807f7f;
}
.product-description {
  margin-bottom: 20px;
}
/* MORE INFORMATION LINK STYLING */
.more-info {
  margin-bottom: 20px;
}
.more-info-link:link,
.more-info-link:visited {
  color: #000;
}
.more-info-link:hover,
.more-info-link:active {
  color: #000;
  text-decoration: none;
}
/* PRODUCT COLOR CHOICES */
.colors {
  display: flex;
  gap: 12px;
}
.color {
  width: 25px;
  height: 25px;
}
.color-black {
  background-color: #000;
}
.color-blue {
  background-color: #2f6ee2;
}
.color-yellow {
  background-color: #f0bf1e;
}
.color-red {
  background-color: #ec2f2f;
}
.color-green {
  background-color: #90cc20;
}
.color-brown {
  background-color: #885214;
}
/* PRODUCT DETAILS STYLING */
.product-details {
  padding: 20px 10px;
}
.details-list {
  margin-left: 40px;
}
/* BUTTON STYLING */
.btn-add-cart {
  color: #fff;
  background-color: #000;
  border: none;
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 18px;
  cursor: pointer;
  border-top: 4px solid #000;
  line-height: normal;
}
.btn-add-cart:hover {
  background-color: #fff;
  color: #000;
}

/* SHARED STYLING */
.uppercase {
  text-transform: uppercase;
}
.bold {
  font-weight: bold;
}
